<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная страница{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/about/">История</a> </li>
            <li><a href="/contact/">Контакты</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>&copy; 2025 Футбольный клуб «Зенит»</p>
</footer>
</body>
</html>
